In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import missingno as ms
from scipy import stats
warnings.filterwarnings("ignore")
%matplotlib inline

In [75]:
dt = pd.read_csv("adult.csv",na_values = ' ?') # Changing the " ?" into a missing value
dt.head()

,Age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours-per-week,Native_Country,>50K_ <=50K
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [76]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             32561 non-null  int64
 1   workclass       30725 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      30718 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  Native_Country  31978 non-null  object
 14  >50K_ <=50K     32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [11]:
num_features = [feature for feature in dt.columns if dt[feature].dtype != "O"]
num_features

['Age',
 'fnlwgt',
 'education_num',
 'capital_gain',
 'capital_loss',
 'hours-per-week']

In [73]:
for i in range(len(num_features)):
    result =  stats.shapiro(dt[num_features[i]])
    if result[1] > 0.05:
        print(num_features[i], "******" ,"Is has passed the normality test")
    else:
        print(num_features[i], "******" ,"Is has failed the normality test")

Age ****** Is has failed the normality test
fnlwgt ****** Is has failed the normality test
education_num ****** Is has failed the normality test
capital_gain ****** Is has failed the normality test
capital_loss ****** Is has failed the normality test
hours-per-week ****** Is has failed the normality test